body {
  font-family: "Fira Sans", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.5em;
}

body > div {
  width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.docs-annotation {
  font-family: "Fira Code", monospace;
  white-space: pre-wrap;
}

.docs-entry {
  margin-bottom: 20px;
}

h1.module-name {
  font-size: 3em;
  border-bottom: 0;
}

h1 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

.export {
  color: purple;
  font-weight: bold;
}

a.export {
  text-decoration: none;
  display: inline-block;
}

a.export::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: purple;
  transition: width .3s;
}

a.export:hover::after {
  width: 100%;
}
